*  {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.canvas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.summary-container {
  width: 86%;
  max-width: 375px;
  height: 453px;
  border: 2px solid black;
  border-top: none;
}

.result-container {
  width: 86%;
  max-width: 375px;
  height: 356px;
  background-color: hsl(241, 81%, 54%);
  border-radius: 0 0 25px 25px;
}


/* TABLET VIEW */
@media( min-width: 768px ) {
  .canvas {
    flex-direction: row;
  }

  .summary-container {
    width: 100%;
    max-width: 348px;
    height: 512px;
    border: 2px solid black;
    border-left: none;
  }

  .result-container {
    width: 338px;
    width: 24.5%;
    min-width: 338px;
    max-width: 368px;
    height: 512px;
    border-radius: 25px;
  }
}
